# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Tests & coverage
coverage/
test-results/

# Logs
logs/
*.log
npm-debug.log*

# Env files
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*.iml

# Misc
.cache/
.tmp/
